<div class="modal-confirm modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer"><button class="cancel btn btn-outline-dark" data-dismiss="modal">Cancel</button><button class="submit btn btn-primary">Ok</button></div>
        </div>
    </div>
</div>