<div class="modal" id="set-password">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reset Password</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <form method="post" id="set-password-form">
                    <div class="form-group"><label>Please enter your new password</label><input class="form-control required" type="password" name="pass" id="pass-tf" />
                        <div class="alert alert-danger hide"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-primary" type="submit" form="set-password-form" id="set-password-submit">Submit</button></div>
        </div>
    </div>
</div>