<div class="sidenav">
  <a href="/home/:page">IMT-Home</a>
  <a href="/create">Create New Incident</a>
  <a href="/incident/:page">Open Incidents</a>
  <a href="/quicklist">Quick List</a>
  <a href="/TTT">Transitory Team Referral</a>
  <a href="/over21days">Open Over 21 days</a>
  <a href="/AACconsult">AAC Consultation</a>
  <a href="/stage3">Stage3</a>
  <a href="/Seg5">Segment 5</a>
  <a href="/LocalTriage">Local Triage</a>
</div>
