<!DOCTYPE html>
<html>
<head>
    <link href="../stylesheets/mainsks.css" rel="stylesheet">
    <title>Incident Management Tool</title>
    
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
	<script>
       $(function () {
            //$("#header").load("../includes/top.ejs");
            $("#footer").load("../includes/footer.ejs");
            $("#leftnav").load("../includes/leftnav.ejs");
        });

		$(document).ready(function() {
			function searchPartial(form) {
				var srnumber =  $('#srnumber').val();
				//var formData = $(form).serializeArray();
				$.get('/searchResult', {
				  //search: formData[0].value
				  search: srnumber
				}).then(function (data) {
				  $('#search-result').html(data);
				});
			}
			window.searchPartial = searchPartial;
		});

		//search AAC
		$(document).ready(function() {
			function searchAAC(form) {
				var aacId =  $('#aacId').val();
				var formData = $(form).serializeArray();
				$.get('/searchAAC', {
				  aacId: aacId
				}).then(function (data) {
				  $('#search-result').html(data);
				});
			}
			window.searchAAC = searchAAC;
		});
	</script>
</head>
<body>
    <div id="header"><% include ./includes/top.ejs %></div>
    <div id="leftnav"></div>

	<div class="container">
		<h1> Search Functionality</h1>
		<div class="divTable">
			<div class="divTableRow">
				<div class="divTableCell">
					<form onsubmit="searchPartial(this);return false;">			
						<div class="divTable">
							<div class="divTableBody">				
								<div class="divTableRow">
									<div class="divTableCell"><label name="SRNum"><strong>SR Number</strong></label></div>
									<div class="divTableCell"><input id="srnumber" name="srnumber" required="" type="text" placeholder="Enter SR Number"  autofocus="autofocus" /></div>
								</div>
								<div class="divTableRow">
									<div class="divTableCell">&nbsp;</div>
									<div class="divTableCell"><input type="submit" value="Search" /></div>
								</div>
							</div>
						</div>
					</form>				
				</div>
				<div class="divTableCell">
					<form onsubmit="searchAAC(this);return false;">			
						<div class="divTable">
							<div class="divTableBody">				
								<div class="divTableRow">
									<div class="divTableCell"><label name="aac"><strong>AAC Id</strong></label></div>
									<div class="divTableCell"><input id="aacId" name="aacId" required="" type="text" placeholder="Enter AAC Id"  autofocus="autofocus" /></div>
								</div>
								<div class="divTableRow">
									<div class="divTableCell">&nbsp;</div>
									<div class="divTableCell"><input type="submit" value="Search" /></div>
								</div>
							</div>
						</div>
					</form>				
				</div>
			</div>
		</div>
	</div>	
	<div class="searchframe" id="search-result"></div>
<div id="footer"></div>
</body>		
</html>